<html>
<head>
    <meta charset="UTF-8">
    <title>Shinee Smiles: Book Dental Appointment</title>
</head>
<style>
*{
	font-family: sans-serif;
}
h1{
	color: white;
	text-align: center;
	font-size: 70px;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #9B283C; 
}
table{
	border: 2px solid black;
	border-collapse: collapse;
}
th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #9B283C;
	color: white;	
}
td{
	border: 1px solid #ddd;
	padding: 15px;
	background-color: #D8769A;
	color: white;
}
</style>

<body style="background-color:#E3BCD6;">
<center><h1>Submitted Client Information</h1></center>

<table style="width:100%">

<th>Full name:</th>
    <th>Email Address:</th>
    <th>Contact Number:</th>
    <th>Address:</th>
    <th>Date:</th>
    <th>Time:</th>
    </tr>

	{% for obj in obj %}
	<div class="obj">

    <tr>
    <td>{{ forloop.counter }}:{{ obj.name }}</td>
    <td>{{ obj.email }}</td>
    <td>{{ obj.contact }}</td>
    <td>{{ obj.address }}</td>
    <td>{{ obj.date }}</td>
    <td>{{ obj.clock }}</td>
	</tr>

  </tr>
</div>

	{% endfor %}
    {% csrf_token %}
 
	</table>


</body>
</html>